
<div id="myModal" class="modal hide">
  <div class="modal-header">
    <button type="button" data-dismiss="modal" class="close">x</button>
    <h3>Login to MyWebsite.com</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="" name="login_form">
      <p>
        <input id="email" type="text" name="eid" placeholder="Email" class="span3"/>
      </p>
      <p>
        <input type="password" name="passwd" placeholder="Password" class="span3"/>
      </p>
      <p>
        <button type="submit" class="btn btn-primary">Sign in</button><a href="#">Forgot Password?</a>
      </p>
    </form>
  </div>
  <div class="modal-footer">New To MyWebsite.com?<a href="#" class="btn btn-primary">Register </a></div>
</div>