.well.sidebar-nav
	ul.nav.nav-list
		li.nav-header
			h4 Accounts
				button.btn.btn-small.btn-success.pull-right(type='button') +
		li( ng:repeat='account in Accounts')
			a(href='#/edit_account/{{account.id}}')
				span.icon-white(ng:class='[account.Icon ];')
				span(ng:bind='account.Name')
				span.pull-right ${{account.Balance}}
		li.nav-header
			h4 Goals
		li(ng:repeat='goal in Goals')
			a(href='')
				div(ng:bind='goal.name')
				.progress.progress-info.progress-warning.progress-striped
					.bar(ng:style='{width:  goal.progress + \'%\'}')
		li.nav-header
			h4 Recurring Transactions
		li(ng:repeat='transaction in Transactions')
			a(href='')
				span(ng:bind='goal.name')
				span(ng:bind='goal.progress')

